body {
    
}

header {
    background-color: cadetblue;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(29, 28, 28);
    border-radius: 10px;
}

h2 {
    color: rgb(24, 25, 27);
}

#ctaBtn {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(99, 121, 121);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}
#ctaBtn:hover {
    background-color: rgb(61, 77, 77);
}

footer {
    text-align: center;
    background-color: rgb(204, 245, 245);
    padding: 20px;
}

